body {
    font-family: 'Kalnia', serif;
    font-size: 22px;
    margin-left: 100px;
    margin-right: 100px;
    background: gray;

}
/* visraksts */
h3 {
    text-align:center
}
/* nodalas */
.galvene {
    background-color: rgb(136, 171, 142);
}
.par-mani {
    background-color:rgb(175, 200, 173);
}
.p-i {
    background-color: rgb(238, 231, 218);
    height:700px;
}
.pieredze {
    background-color: rgb(243, 237, 200);
    height:1000px;
}
.kajene {
    background-color: rgb(247, 246, 242);
}
/* id un klasses*/
#copy {
    text-align:center;
}
.logo {
    display:flex;
    justify-content: center;
}
img {
    width:400px;
    height:400px;
    display:block;
}
.center {
    text-align:center;
}
/* animacija */
.animation {
    width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 999;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    50%  {background-color:yellow; left:150px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}
/* id un klasses*/
#img {
    display:flex;
    justify-content: center;
    
}
#storage {
    display:flex;
    justify-content: center;
}
